#home.centered.clearfix
  %h1 Project Mule
  %p Making it easy and affordable to eat better food.
  = image_tag("/luckybolt_logo.png", :alt => "LuckyBolt Logo", :id => "luckybolt-logo")
  %h3 Coming Soon...
  #signup.col-md-6.col-md-offset-3
    .input-group
      %input.form-control{:type => :text, :placeholder => "email" }
      %span.input-group-btn
        %button.btn.btn-primary Sign Up!
  %br/
  %br
  #geographic-content
    %table.table.table-hover.table-responsive#area-table.table-bordered
      %th#area-header.text-center.active Area
      - @delivery_area.each do |area|
        %tr{:id => area.id}
          %td.main-table-items= area.name