#home.centered.clearfix
  =image_tag('/logo-dark.png/', id: 'home-logo')
  %h3 Better Food. Zero Hassle.
  #geographic-content
    #delivery-select.col-lg-12.col-md-12.transition500
      .row
        #areas.transition500.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
          .rounded-border
            %table.table.table-hover.table-responsive.table-bordered
              %th#area-header.text-center.active Area
              - @areas_and_menus.each do |area, menu|
                %tr{:data => {:area => area.id, :menu => menu ? menu.id : ''}}
                  %td.main-table-items= area.name
        #points.hidden.transition500.col-lg-8.col-lg-offset-0.col-md-8.col-md-offset-0
          .rounded-border
      .row
        = form_tag menus_path, :id => 'go-form', :method => 'GET' do |f|
          = hidden_field :delivery_point, :id, :id => 'delivery-point-id-field'
          %button{:id => 'go', :class => 'col-lg-4 col-md-4 btn btn-lg btn-success hidden'}
            %span Let's go!
    #map.col-lg-6.col-md-6
