#home.centered.clearfix
  %h1 Project Mule
  %p Making it easy and affordable to eat better food.
  = image_tag("/luckybolt_logo.png", :alt => "LuckyBolt Logo", :id => "luckybolt-logo")
  %h3 Coming Soon...
  #signup.col-md-6.col-md-offset-3
    .input-group
      %input.form-control{:type => :text, :placeholder => "email" }
      %span.input-group-btn
        %button.btn.btn-primary Sign Up!
  %h2 Let's get started! Where are you?
  = form_for(@delivery_area, :url => {:action => :home}) do |f|
    =f.collection_select :name, DeliveryArea.all, :id, :name, :include_blank => "Please select an Area"
    .actions
= link_to 'Show', DeliveryArea.find(:id) 
