#home.centered.clearfix
  %h1 Project Mule
  %p Making it easy and affordable to eat better food.
  = image_tag("/luckybolt_logo.png", :alt => "LuckyBolt Logo", :id => "luckybolt-logo")
  %h3 Coming Soon...
  #signup.col-md-6.col-md-offset-3
    .input-group
      %input.form-control{:type => :text, :placeholder => "email" }
      %span.input-group-btn
        %button.btn.btn-primary Sign Up!
  %br/
  %h2 Let's get started! Where are you?
  = form_tag area_chosen_path, :method => :post do	
    =collection_select(:customer_area, :id, DeliveryArea.all, :id, :name, {:prompt => "Please select an Area"})
    = submit_tag "Update"
