#home.centered.clearfix

  %h1 Great food is a right, not a privilege
  %h3 Choose a delivery point below to get started

  %div#area-container.stay-centered
    %table.table.table-hover.table-responsive.area-table.table-bordered
      %th.text-center.active Area
      - @delivery_area.each do |area|
        %tr
          %td.main-table-items= area.name
