#home.centered.clearfix
  %h1 Project Mule
  %h1 Great food isn't a privilege, it's your RIGHT
  #geographic-content
    %table.table.table-hover.table-responsive#area-table.table-bordered
      %th#area-header.text-center.active Area
      - @delivery_area.each do |area|
        %tr{:id => area.id}
          %td.main-table-items= area.name
