#cart.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cart", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#cartLabel.modal-title Cart
        #cart-modal-body.modal-body
          = render 'cart/cart-modal-body'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Pay
      