#cart.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cart", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#cartLabel.modal-title Cart
      #cart-modal-body.modal-body
        #spinner-cart-center{"style" => "position: absolute;display: block;top: 50%; left: 50%"}
        #cart-and-payment
          #cart-modal-table
            = render 'cart/cart-modal-body'
          #cart-payment-info{:hidden => true}
            = render 'cart/cart-payment-info'
      #cart-modal-footer.modal-footer
        %button#checkout-btn.btn.btn-default{type: "button"} Checkout
