%strong Credit Cards
%br
%br
- if current_user.credit_cards.present?
  %ul
    - current_user.credit_cards.each do |cc|
      %li.credit-card
        = "Card ending in " + cc.last_four
        - if cc.default
          %span.glyphicon.glyphicon-ok
        - if @editing
          .editing-links.float-right
            - if !cc.default
              = link_to 'Make default', set_default_credit_card_path(:cc_id => cc.id), method: :post, data: { confirm: 'Are you sure?'}, :class => "btn btn-primary btn-xs"
            = link_to 'Delete', destroy_credit_card_path(cc.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"
      %br
- else
  No cards added