- if @chosen_point
  %div.inline-block
    %h4
      %b
        Your chosen pickup point:
      = @chosen_point.address.to_s
  .float-right.inline-block
    = link_to 'Change your pickup point', root_path