%div.inline-block
  - if @show_view
    %h4
      %b
        Pickup point:
      - if @current_point.present?
        = @current_point.address.to_s
      - else
        No pickup point chosen
      = link_to '(Change)', root_path
  - else
    %h5
      %b
        Pickup point:
      - if @current_point.present?
        = @current_point.address.to_s
      - else
        No pickup point chosen
