%div.inline-block
  - if @show_view
    %h4
      %b
        Pickup point:
      - if @chosen_point.present?
        = @chosen_point.address.to_s
      - else
        No pickup point chosen
  - else 
    %h5
      %b
        Pickup point:
      - if @chosen_point.present?
        = @chosen_point.address.to_s
      - else
        No pickup point chosen
.float-right.inline-block
  %br
  = link_to 'Change your pickup point', root_path