%h1 Delivery Points
= paginate @delivery_points
= render 'table'
= paginate @delivery_points
%br/
-if can? :new, @delivery_points
  %td= link_to 'New Delivery point', new_delivery_point_path, :class =>  "btn btn-primary btn-sm"
