%br
%br
%a{href: edit_user_registration_path}Edit
%br
%strong Name
%br
= current_user.first_name
= current_user.last_name
%br
%br
%strong Email
%br
= current_user.email
%br
%br
%strong Phone number
%br
= current_user.phone_number.asString
