%h1 Listing users
%table.table.table-centered
  %tr
    %th Role
    %th Name
    %th Email
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= User::ROLES_MAPPING[user.role]
      %td= link_to user.first_name + ' ' + user.last_name, user
      %td= user.email
%br/
= link_to 'New User', new_user_path

