%p#notice= notice
%p
  %b Name:
  = @ingredient.name
= link_to 'Edit', edit_ingredient_path(@ingredient), :class =>  "btn btn-warning btn-sm"
|
\#{link_to 'Back', ingredients_path, :class =>  "btn btn-default btn-sm"}
