#about-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "aboutModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        =image_tag('/logo-dark.png/', id: 'about-logo')
      .modal-body
        %p Luckybolt's mission is to enable you to eat better with zero hassle and at affordable prices. Our team is passionate about supporting local farms and artisans, so we've developed a platform that makes it easier than ever for you to get food from them when you're at work. Best of all, there's no delivery fees!
        %p LuckyBolt's flagship lunch service is basically like crowd-sourced delivery. Crowds of individuals order from the same vendors in order to pool their purchasing power and avoid having to pay delivery fees. We post a different menu everyday, featuring food from the finest food producers in town, so you never get tired of seeing the same old options.
        %p Above all we're always looking for ways to make the world a better place. We figure if we can make it super easy and affordable for you to get great food at work, then the world will be a better place because presumably you could be doing something better with your time than spending it standing in the lunch line.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

