/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.float-right {
	float: right;
}

.checkout-field {
	height: 30px;
}

.name-field {
	width: 250px;
}

div.inline-block {
	display: inline-block;
}

.cc-number-field {
	width: 160px;
	margin-right: 10px;
}

.cc-exp-date-field {
	width: 80px;
	margin-right: 10px;
}

.cc-cvv-field {
	width: 50px;
}

#credit-card-info {
	margin-top: 10px;
}