form.edit_item {
    max-width: 600px;
}

.field.ingredients {
    margin-top: 20px;


    #selected-ingredients {
        display: inline-block;

        .ingredient {
            display: inline-block;
            background-color: #eee;
            padding: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
            border: solid #ccc 1px;

        }
    }

    #select-ingredient {
        display: inline-block;

        .select2-container {
            width: 200px;;
        }
    }

    #new-ingredient {
        margin-top: 10px;
    }
}
