#home {
    padding: 0;
//    display: inline-block;
    margin: auto;
//    position: absolute;
//    height: 80%;
//    top: 0; left: 0; bottom: 0; right: 0;
}

#main-alert {
    margin-top: 20px;
}

.danger-text {
    color: red;
    font-weight: bold;
}

#areas {
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#point-container {
}