#home {
    display: inline-block;
    margin: auto;
    position: absolute;
    height: 80%;
    top: 0; left: 0; bottom: 0; right: 0;
}

#luckybolt-logo {
    width: 300px;
    display:none;
}

#main-alert {
    margin-top: 20px;
}

.danger-text {
    color: red;
    font-weight: bold;
}

.stay-centered {
    margin-left: 25%;
    margin-right: 25%;
}

.slide-left {
    -moz-transition: margin-left 1s, margin-right 1s;
    -webkit-transition: margin-left 1s, margin-right 1s;
    -o-transition: margin-left 1s, margin-right 1s;
    transition: margin-left 1s, margin-right 1s;
    margin-left: 0%;
    margin-right: 75%;
}

#point-container {
    margin-right: 50%;
}