.field.delivery_areas {
    margin-top: 20px;


    #selected-delivery_areas {
        display: inline-block;

        .delivery_area {
            display: inline-block;
            background-color: #eee;
            padding: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
            border: solid #ccc 1px;

        }
    }

    #select-delivery_area {
        display: inline-block;

        .select2-container {
            width: 200px;;
        }
    }

    #new-delivery_area {
        margin-top: 10px;
    }
}
