#point-container.stay-centered
  %table.table.table-hover.table-responsive.area-table.table-bordered
    %th.text-center.active= @customer_area.name + ' Drop Off Points'
    - if @customer_area.delivery_points.present?
      @customer_area.delivery_points.each do |point|
      %tr
        %td.main-table-items= point.address