%p
  %b Name:
  = @delivery_area.name
%p
  %b Delivery Points:
  - @delivery_area.delivery_points.each do |point|
    %p= point
= link_to 'Edit', edit_delivery_area_path(@delivery_area)
|
\#{link_to 'Back', delivery_areas_path}
