%head
  %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel: "stylesheet"}/
  %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel: "stylesheet"}/
  %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}
  %link{href: "/assets/select2/select2.css", rel: "stylesheet"}/
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"}
  %script{src: "http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"}
  %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}
  %script{src: "/assets/select2/select2.js"}
  %script{src: "http://malsup.github.com/jquery.form.js"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"}
  %script{src: "https://js.braintreegateway.com/v1/braintree.js"}
  %title ProjectMule
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tag
